<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
		<targets>
			<target xsi:type="Debug" name="debugConsole" layout="${longdate} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}:${threadname}] ${message}" />
			<target xsi:type="File" name="defaultFile" fileName="Gaea.log" layout="${longdate} [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}:${threadname}] ${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="defaultFile" />
		</rules>
	</nlog>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>